<a href="https://colab.research.google.com/github/Jayand97/DSA-Assignment/blob/main/Jayand_Model_Selct.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [65]:
# import libraries
import pandas as pd

In [66]:
#Load the dataset
tit_df = pd.read_csv('/content/titanic_dataset .csv')
tit_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [67]:
tit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [68]:
tit_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [69]:
tit_df.fillna(0, inplace = True)

In [70]:
tit_df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [71]:
#  Pre-processing

# Drop unnecessary columns
tit_df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)

In [72]:
# Convert categorical variables to dummyr variables
tit_df = pd.get_dummies(tit_df, columns=['Sex', 'Embarked'])

In [73]:
# Standard Scalar
from sklearn.preprocessing import StandardScaler

In [74]:
num_cols = ['Age', 'SibSp', 'Parch', 'Fare']
scaler = StandardScaler()
tit_df[num_cols] = scaler.fit_transform(tit_df[num_cols])

In [75]:
# Create kNn and SVM models
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

In [76]:
X = tit_df.drop('Survived', axis=1)
y = tit_df['Survived']

In [77]:
knn = KNeighborsClassifier(n_neighbors=5)
svm = SVC(kernel='linear')

In [78]:
#  k fold and statified kfold cross validation
from sklearn.model_selection import KFold, StratifiedKFold
from sklearn.metrics import accuracy_score

In [79]:
# kfold cross validation
k_fold = KFold(n_splits=5, shuffle=True, random_state=42)
knn_scores = []
svm_scores = []

In [80]:
for train_index, test_index in k_fold.split(X):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]

    knn.fit(X_train, y_train)
    svm.fit(X_train, y_train)

    knn_scores.append(accuracy_score(y_test, knn.predict(X_test)))
    svm_scores.append(accuracy_score(y_test, svm.predict(X_test)))

In [81]:
print("k-fold cross validation average accuracy scores:")
print(f"kNN: {sum(knn_scores)/len(knn_scores)}")
print(f"SVM: {sum(svm_scores)/len(svm_scores)}")

k-fold cross validation average accuracy scores:
kNN: 0.7934718473416609
SVM: 0.786761659657272

In [82]:
# Statified k-fold cross validation
stratified_k_fold = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)

knn_stratified_scores = []
svm_stratified_scores = []

In [83]:
for train_index, test_index in stratified_k_fold.split(X, y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]

    knn.fit(X_train, y_train)
    svm.fit(X_train, y_train)

    knn_stratified_scores.append(accuracy_score(y_test, knn.predict(X_test)))
    svm_stratified_scores.append(accuracy_score(y_test, svm.predict(X_test)))

In [84]:
print("Stratified k-fold cross validation average accuracy scores:")
print(f"kNN: {sum(knn_stratified_scores)/len(knn_stratified_scores)}")

Stratified k-fold cross validation average accuracy scores:
kNN: 0.7968489109283787