In [ ]:
# Circle Area with radius

r = int(input('Enter a number: '))
pi= 3.14
print("Radius is :", r)
ar = pi*r*r
print(" Area of circle is :",ar )

Enter a number: 3
Radius is : 3
 Area of circle is : 28.259999999999998

In [ ]:
# Student
name= input("Enter the name :")
roll = int(input("Enter the roll number:"))
mark = int(input("Enter the marks:"))

print("Name",name)
print("Roll No:",roll)
print("Mark:",mark)

Enter the nameAnisha
Enter the roll number:21
Enter the marks:78
Name Anisha
Roll No: 21
Mark: 78

In [ ]:
num_list= []
for i in range(5):
  num = int(input("Enter the numbers :"))
  num_list.append(num)
num_list.sort()
print(num_list[-1],"is the largest element")

Enter the numbers :12
Enter the numbers :3
Enter the numbers :47
Enter the numbers :10
Enter the numbers :30
47 is the largest element

In [ ]:
previous_num = 0
for i in range(10):
    sum = previous_num + i
    print(f'Current number {i} Previous Number {previous_num} is and Sum is  {sum}')
    previous_num = i

Current number 0 Previous Number 0 is and Sum is  0
Current number 1 Previous Number 0 is and Sum is  1
Current number 2 Previous Number 1 is and Sum is  3
Current number 3 Previous Number 2 is and Sum is  5
Current number 4 Previous Number 3 is and Sum is  7
Current number 5 Previous Number 4 is and Sum is  9
Current number 6 Previous Number 5 is and Sum is  11
Current number 7 Previous Number 6 is and Sum is  13
Current number 8 Previous Number 7 is and Sum is  15
Current number 9 Previous Number 8 is and Sum is  17

In [ ]:
num_list= []
for i in range(5):
  num = int(input("Enter the numbers :"))
  num_list.append(num)
for num in num_list:
  if num % 5==0:
    print(num)

Enter the numbers :10
Enter the numbers :20
Enter the numbers :33
Enter the numbers :46
Enter the numbers :55
10
20
55

In [ ]:
n =int(input("Enter the number :"))

flag = False
if n ==1:
  print(n,"is not prime")
elif num >1:
  for i in range(2,n):
    if(n % i) == 0:
      flag = True
      break
  if flag:
    print(n,"is not prime")
  else:
    print(n, "is prime")

Enter the number :3
3 is prime

In [ ]:
lst= []
for i in range(4):
  num = int(input("Enter the numbers :"))
  lst.append(num)
l1 = []
for i in lst:
  l1.insert(0,i)
print(l1)

Enter the numbers :10
Enter the numbers :40
Enter the numbers :30
Enter the numbers :70
[70, 30, 40, 10]

In [ ]:
num_list= []
for i in range(3):
  num = int(input("Enter the numbers :"))
  num_list.append(num)
  num_list.sort()
print("Larger number is",num_list[-1])

Enter the numbers :34
Enter the numbers :12
Enter the numbers :7
Larger number is 34

In [ ]:
rows = int(input("Enter number of rows: "))

for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print(" ")

Enter number of rows: 4
*
* *
* * *
* * * *

In [ ]:

rows = int(input("Enter the number of rows for the first pyramid: "))
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print(" ")
    print(" ")


for i in range(rows, 0, -1):
    for j in range(0, i ):
        print("*", end=' ')
    print(" ")
    print(" ")

Enter the number of rows for the first pyramid: 4
*

* *

* * *

* * * *

* * * *

* * *

* *

*

In [ ]:
fname = input("Enter First Name:")
lname = input("Enter Last Name:")
print(f'Hello {fname} {lname}.! You just logged into Python.')

Enter First Name:John
Enter Last Name:Wick
Hello John Wick.! You just logged into Python.